<form name="create_form"  ng-submit="submitData(model)" autocomplete="off" novalidate>
    <div class="modal-header">
        <a href="javascript:void(0);" name="action_close" class="close" title="Close" ng-click="cancelHandler()">&times;</a>
        <a href="javascript:void(0);" name="action_help" class="help" title="Help" ng-click="">?</a>
        <h3 class="modal-title text-center  ">{{model.formData.displayName}}</h3>
    </div>
    <div class="modal-body">
        <div class="" ng-repeat="data in model.formData.formFields" >



          <div class="form-group"  ng-if="data.component==='select'" ng-focus="data.showDes=true" ng-blur="data.showDesc=false">

              <label class="control-label custom">{{data.label}}:</label>
              <span ng-if="data.required" class="text-danger"><h5>*</h5></span>
              <select  class="form-control" name="selectType_{{$index}}" ng-change="selectProviderTypeChangeHandler()"  required="data.required" ng-required="data.required" ng-model="data.selectedValue" ng-options="option for option in data.options">
              </select>
              <span ng-show="create_form['selectType_'+$index].$error.required && create_form['selectType_'+$index].$dirty" class="input-help">This field is required!</span>
          </div>


          <div class="form-group" ng-if="data.component==='textinput'">
              <label class="control-label required-field custom" for="displayName" title="{{data.description}}">{{data.label}}:</label>
              <input class="form-control" name="displayName_{{$index}}"  id="displayName" type="text" ng-model="data.selectedValue"  ng-pattern="data.validation" ng-required="{{data.required}}" maxlength="255" ng-maxlength="255" >
              <span ng-show="create_form['displayName_'+$index].$error.pattern && create_form['displayName_'+$index].$dirty" class="text-warning input-help">Not a valid Input!</span>
              <span ng-show="create_form['displayName_'+$index].$error.required  && create_form['displayName_'+$index].$dirty" class="text-warning input-help">This field is required!</span>
          </div>



          <div class="form-group" ng-if="data.component==='textarea'">
              <label class="control-label custom"  for="description" title="{{data.description}}">{{data.label}}</label>
              <textarea  class="form-control" id="description" name="description_{{$index}}" rows="4" type="text" ng-model="data.selectedValue" maxlength="255" ng-pattern="data.validation" ng-required="data.required" ng-maxlength="255" ></textarea>
              <span ng-show="create_form['description_'+$index].$error.pattern && create_form['description_'+$index].$dirty" class="text-warning input-help">Not a valid Input!</span>
              <span ng-show="create_form['description_'+$index].$error.required && create_form['description_'+$index].$dirty" class="text-warning input-help">This field is required!</span>
          </div>



          <div class="form-group" ng-if="data.component==='checkbox'">
              <label for="check" class="custom"  title="{{data.description}}" title="{{data.description}}" ng-init="data.selectedValue=[]">{{data.label}}:</label>
              <p ng-repeat="option in data.options track by $index" class="checkbox-option">
                  <input  class="form-control col-sm-2 pull-left"
                          type="checkbox"
                          name="option_{{$index}}"
                          value="{{option}}"
                          ng-required="data.required"
                          required="data.required"

                          ng-checked="data.selectedValue.indexOf(option)!= -1"
                          ng-click="toggleSelection(data.selectedValue,option)"
                          id="check"
                  > {{option}}
              </p>
              <span ng-show="create_form['option_'+$index].$error.required && create_form['option'+$index].$dirty" class="text-warning input-help">This field is required!</span>



           </div>

            <div class="form-group" ng-if="data.component==='radio'">
                <label for="radio" class="custom" title="{{data.description}}">{{data.label}}:</label>
                <p ng-repeat="option in data.options track by $index" class="checkbox-option">


                    <input  class="form-control col-sm-2 pull-left"
                            type="radio"
                            name="optionradio_{{$index}}"
                            ng-required="data.required"
                            required="data.required"
                            value="{{option}}"
                            ng-checked="option.selected"
                            ng-click="!option.selected"
                            ng-model="data.selectedValue"
                            id="radio"
                    >
                {{option}}
                </p>
                <span ng-show="create_form['optionradio_'+$index].$error.required && create_form['optionradion_'+$index].$dirty" class="text-warning input-help">This field is required!</span>



            </div>
            <hr>
        </div>
    </div>


    <div class="modal-footer">
        <button type="submit" class="btn btn-info" name="action_save" ng-disabled="create_form.$invalid" ng-class="{disabled: isSaveInProgress}" >
            SAVE
        </button>
        <button type="button" class="btn btn-warning" name="action_cancel" ng-class="{disabled: isSaveInProgress}" ng-click="cancelHandler()">
            CANCEL
        </button>
    </div>
</form>
