<p></p>

<ul>

    <li ng-repeat="data in model.formData.formFields">
        <p>{{data.description}}</p>
        <label for="">{{data.label}}</label>

        <select class="form-group" ng-if="data.component==='select'" ng-required="{{data.required}}"  contenteditable="{{data.editable}}">
            <option value="{{option}}" ng-repeat="option in data.options">{{option}}</option>

        </select>

        <div class="form-group" ng-if="data.component==='textarea'">
            <textarea  ng-required="{{data.required}}"  contenteditable="{{data.editable}}">
            </textarea>


        </div>

        <div class="form-group" ng-if="data.component==='textinput'">
            <textarea type="text" ng-required="{{data.required}}"  contenteditable="{{data.editable}}">
            </textarea>


        </div>

    </li>
</ul>
